body{
   /*background-color: #e9e9e9;*/
   background-color: #000;
   background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
   color:#e9e9e9;
}
.header{
   position: fixed;
   overflow:hidden;
   left:0px;
   top:0px;
   width:100%;
   height:auto;
   z-index: 1;
   background-color:#0076ec;
   /*#000057*//*#0076ec*/
}
#navbar ul{
   list-style-type: none;
}
#navbar li{
   float:left;
   display: block;
   font-size:20px;
   font-weight: 550;
   padding: 0px 28px 15px 18px;
}
#navbar a{
   text-decoration: none;
   text-shadow:5px 4px 5px #00002d;
   color: #ffffff;
}
#welcome{
   position: relative;
   height: 100vh;
}
#welcome p{
   padding-top:250px;
   text-align: center;
   font-size: 50px;
   font-family: 'Raleway', sans-serif;
}
#project-container span{
   display: block;
   margin: 0 auto;
}
span.project-icons{
   display: inline;
   width: 200px;
   height: 200px;
   border: 1px solid #000000;
}